<div fxLayout="row" fxLayoutAlign="start start">
    <div class="basic-content-block">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-icon-button color="primary" (click)="back()">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>

            <mat-label *ngIf="isNew">新增</mat-label>

            <button mat-icon-button color="primary" *ngIf="!editable" (click)="toEdit()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" *ngIf="editable" (click)="toSave()">
                <mat-icon>save</mat-icon>
            </button>
        </div>

        <ng-content select="[content]"></ng-content>
    </div>

    <div class="basic-tool-block" fxLayout="row" fxLayoutAlign="start start">
        <ng-content select="[tool]" *ngIf="!editable"></ng-content>
    </div>
</div>