<app-basic [(editable)]="editable" (save)="save()">
    <div content>
        <form [formGroup]="store" fxLayout="column" fxLayoutAlign="space-evenly center">
            <mat-form-field appearance="outline">
                <mat-label>名稱</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>ID</mat-label>
                <input matInput type="text" formControlName="storeId">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>錢櫃金額</mat-label>
                <input matInput type="text" formControlName="cashbox" disable>
            </mat-form-field>
        </form>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-around center" tool>
        <button [routerLink]="['/stockin-order']" mat-raised-button color="primary">進貨</button>
        <button [routerLink]="['/exchange-order']" mat-raised-button color="primary">換貨</button>
        <button [routerLink]="['/destory-order']" mat-raised-button color="warn">銷毀</button>
        <button [routerLink]="['/storedcash-order']" mat-raised-button color="primary">存 / 提款</button>
        <button [routerLink]="['/delivery-order']" mat-raised-button color="primary">調配</button>
    </div>
</app-basic>