<div [ngSwitch]="type" style="display: inline;">
    <span *ngIf="label" style="margin-right: 5px;" [ngStyle]="{'font-size': fontSize}">{{label}}</span>
    <ng-container *ngSwitchCase="'number'">
        <input type="number" [placeholder]="placeholder" [(ngModel)]="numberValue" [disabled]="isDisabled"
            [ngStyle]="{'font-size': fontSize, 'width': inputWidth}" />
    </ng-container>
    <ng-container *ngSwitchDefault>
        <input type="text" [placeholder]="placeholder" [(ngModel)]="textValue" [disabled]="isDisabled"
            [ngStyle]="{'font-size': fontSize, 'width': inputWidth}" />
    </ng-container>
</div>