<div class="toolbar" fxLayout="row" fxLayoutAlign="end center">
	<button mat-icon-button color="primary" (click)="toProduct()">
		<mat-icon>add_box</mat-icon>
	</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

	<ng-container matColumnDef="#">
		<th mat-header-cell *matHeaderCellDef> # </th>
		<td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
	</ng-container>

	<ng-container matColumnDef="productId">
		<th mat-header-cell *matHeaderCellDef> ID </th>
		<td mat-cell *matCellDef="let element"> {{element.productId}} </td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Name </th>
		<td mat-cell *matCellDef="let element"> {{element.name}} </td>
	</ng-container>

	<ng-container matColumnDef="catagoryUid">
		<th mat-header-cell *matHeaderCellDef> catagoryUid </th>
		<td mat-cell *matCellDef="let element"> {{element.catagoryUid}} </td>
	</ng-container>

	<ng-container matColumnDef="allowSellInsufficient">
		<th mat-header-cell *matHeaderCellDef> allowSellInsufficient </th>
		<td mat-cell *matCellDef="let element"> {{element.allowSellInsufficient}} </td>
	</ng-container>

	<ng-container matColumnDef="service">
		<th mat-header-cell *matHeaderCellDef> service </th>
		<td mat-cell *matCellDef="let element"> {{element.service}} </td>
	</ng-container>

	<ng-container matColumnDef="conbination">
		<th mat-header-cell *matHeaderCellDef> conbination </th>
		<td mat-cell *matCellDef="let element"> {{element.conbination}} </td>
	</ng-container>

	<ng-container matColumnDef="invalid">
		<th mat-header-cell *matHeaderCellDef> invalid </th>
		<td mat-cell *matCellDef="let element"> {{element.invalid}} </td>
	</ng-container>

	<ng-container matColumnDef="note">
		<th mat-header-cell *matHeaderCellDef> note </th>
		<td mat-cell *matCellDef="let element"> {{element.note}} </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="toProduct(row)"></tr>
</table>