<mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer class="main-sidenav" mode="side" opened>
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let menu of menus" [routerLink]="menu.id" routerLinkActive="selected">
                {{menu.name}}
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>

    <div class="main-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>