<pos-header-sidemenu>
    <div fxLayout="row" fxLayoutAlign="start center" class="content">
        <div class="cart-info">
            <pos-table [columnDefs]="displayedColumns" [dataSource]="dataSource" [enableSelect]="true"
                (onSelect)="getSelections($event)" [style]="{height: '300px', border: 'solid 1px'}"></pos-table>
            <div fxLayout="row" fxLayoutAlign="space-between start" style="height: calc(100vh - 80px - 330px - 40px);">
                <div fxLayout="row" fxLayoutAlign="start start" style="margin-left: 12px; margin-top: 10px;">
                    <div>
                        <button mat-icon-button color="warn" [disabled]="disableDelete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <pos-input type="text" placeholder="產品編號/條碼" inputWidth="150px"> </pos-input>
                        <span style="font-size: 20px;"> X </span>
                        <pos-input type="number" placeholder="數量" inputWidth="80px"> </pos-input>
                    </div>
                    <div style="margin-left: 20px;">
                        <button mat-raised-button style="background-color: #D9D9D9; font-size: x-large;">F6-搜尋</button>
                    </div>
                </div>
                <div style="width: 500px; height: 100%; padding-top: 10px;">
                    <fieldset style="height: 90%;">
                        <legend>訂單資料</legend>
                        <div style="padding-top: 10px;">
                            <pos-input type="text" label="開單地點" inputWidth="50px" [value]="'WW'" [disabled]="true"> </pos-input>
                            <pos-input type="text" label="扣貨位置" inputWidth="50px" [value]="'AA'" [disabled]="true"> </pos-input>
                        </div>
                        <div style="padding-top: 10px;">
                            <pos-input type="number" placeholder="整單折扣" inputWidth="150px"> </pos-input>
                            <span style="font-size: 20px;"> X </span>
                            <pos-input type="text" placeholder="折扣說明" inputWidth="150px"> </pos-input>
                        </div>
                        <div>
                            <pos-input type="text" placeholder="訂單備註" inputWidth="150px"> </pos-input>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div style="width: 50%;">
                                <div>
                                    <span>總件數</span>
                                    <span>10</span>
                                </div>
                                <div>
                                    <span>折扣</span>
                                    <span>0</span><span>%</span>
                                </div>
                            </div>
                            <div style="width: 50%;">

                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <span>
                                        總計
                                    </span>
                                    <span>NTD</span>
                                </div>
                                <div
                                    style="background-color: #606EB6; text-align: right; padding-top: 10px; padding-right: 10px;">
                                    <span style="color: white; font-weight:bold; font-size:xx-large;">{{2439 |
                                        number}}</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 10px; height: 40px;">
                <div>
                    <button mat-icon-button style="color: #B99104;">
                        <mat-icon>lock</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-raised-button style="background-color: #AB3939; color: white; font-size: xx-large;">清除全部</button>
                    <button mat-raised-button style="background-color: #40A04F; color: white; font-size: xx-large;">結帳</button>
                </div>
            </div>
        </div>
        <div class="member-info">
            <div fxLayout="column" fxLayoutAlign="start center">
                <button mat-icon-button>
                    <mat-icon>person_search</mat-icon>
                </button>
                <div>
                    <span>Anderson</span>
                    <button mat-icon-button>
                        <mat-icon>person</mat-icon>
                    </button>
                </div>
                <pos-input type="text" label="手機載具" inputWidth="100px" [value]="'/X16VP+P'" [disabled]="true"> </pos-input>
                <pos-input type="text" label="會員點數" inputWidth="100px" [value]="3000 | number" [disabled]="true"> </pos-input>
                <pos-input type="text" label="儲值餘額" inputWidth="100px" [value]="'$'+(3000 | number)" [disabled]="true"> </pos-input>
                
                <button mat-raised-button color="primary">儲值</button>
                <button mat-raised-button color="primary">消費紀錄</button>
                <mat-label>消費喜好排行</mat-label>
                <div style="border: solid;">
                    <ol>
                        <li>墾丁苜蓿</li>
                        <li>提摩西一割</li>
                        <li>美國苜蓿</li>
                        <li>低草屑 提摩西一割</li>
                        <li>oxbow 成兔飼料</li>
                        <li>oxbow 老兔飼料</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</pos-header-sidemenu>