<app-basic [(editable)]="editable" (save)="save()">
	<div content>
		<form [formGroup]="payment" fxLayout="column" fxLayoutAlign="space-evenly center">
			<mat-form-field appearance="outline">
				<mat-label>名稱</mat-label>
				<input matInput type="text" formControlName="name">
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>ID</mat-label>
				<input matInput type="text" formControlName="paymentId">
			</mat-form-field>
			
			<mat-slide-toggle formControlName="default">預設</mat-slide-toggle>
		</form>
	</div>
</app-basic>